<li>
<%= gist.get("title") %>


<button class="favorite_button<%= gist.get('favorite') ? ' hidden' : '' %>"
  id="fbtn<%= gist.get('id') %>"
  data-id="<%= gist.get('id') %>">Fav!</button>

<button class="unfavorite_button<%= gist.get('favorite') ? '' : ' hidden' %>"
  id="ubtn<%= gist.get('id') %>"
  data-id="<%= gist.get('id') %>">unFav!</button>


<% gist.get("tags").each(function(tag) { %>
  <%= tag.get("name")%>
<% }) %>
</li>